* {
    padding:0;
    margin:0;
}
.news {
    background-color: antiquewhite;
    color:white;
    height:95vh;
    background-image: url("天水堂.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
} 
.news h2 {
    font-size:60px;
    margin-top:60px;
} 